In [1]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
from pyspark.sql import SparkSession

from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DoubleType
spark = SparkSession.builder.appName("PySparkTables").getOrCreate()
# Raw data
cars_data = [
    (2019, "Toyota", "Avalon"),
    (2019, "Toyota", "Camry"),
    (2020, "Toyota", "Corolla"),
    (2019, "Honda", "Accord"),
    (2019, "Honda", "Passport"),
    (2019, "Honda", "CR-V"),
    (2020, "Honda", "Pilot"),
    (2019, "Honda", "Civic"),
    (2020, "Chevrolet", "Trailblazer"),
    (2020, "Chevrolet", "Trax"),
    (2019, "Chevrolet", "Traverse"),
    (2020, "Chevrolet", "Blazer"),
    (2019, "Ford", "Figo"),
    (2020, "Ford", "Aspire"),
    (2019, "Ford", "Endeavour"),
    (2020, "Jeep", "Wrangler"),
    (2020, "Jeep", "Cherokee"),
    (2020, "Jeep", "Compass"),
    (2019, "Jeep", "Renegade"),
    (2019, "Jeep", "Gladiator"),
]

# Schema
cars_schema = StructType([
    StructField("year", IntegerType(), False),
    StructField("company_name", StringType(), False),
    StructField("product_name", StringType(), False),
])

# Create DataFrame
cars_df = spark.createDataFrame(cars_data, schema=cars_schema)

# Register as temporary view
cars_df.createOrReplaceTempView("cars")

In [6]:
spark.sql("""
    select company_name,
    SUM(CASE WHEN year = 2020 THEN 1 ELSE 0 END) - SUM(CASE WHEN year = 2019 THEN 1 ELSE 0 END) as sm
    from cars
    group by company_name
""").show()

+------------+---+
|company_name| sm|
+------------+---+
|      Toyota|  1|
|       Honda|  3|
|   Chevrolet| -2|
|        Ford|  1|
|        Jeep| -1|
+------------+---+