In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, month
from pyspark.sql.types import StructType, StructField, LongType, DoubleType, DateType
from datetime import date

# Initialize SparkSession
spark = SparkSession.builder.appName("TransactionFilter").getOrCreate()

# Define schema
schema = StructType([
    StructField("amt", DoubleType(), True),
    StructField("signup_id", LongType(), True),
    StructField("transaction_id", LongType(), True),
    StructField("transaction_start_date", DateType(), True)
])

# Sample data

#2159
data = [
    (100.0, 101, 2001, date(2023, 4, 10)),   # April
    (250.0, 102, 2002, date(2023, 5, 15)),   # May
    (300.0, 103, 2003, date(2023, 6, 12)),   # June
    (150.0, 101, 2004, date(2023, 5, 22)),   # May again for 101
    (175.0, 104, 2005, date(2023, 3, 28)),   # March
    (220.0, 105, 2006, date(2023, 4, 2)),    # April
    (400.0, 106, 2007, date(2023, 1, 30))    # January
]

# Create DataFrame
tx_df = spark.createDataFrame(data, schema)
tx_df.createOrReplaceTempView("from pyspark.sql import SparkSession
from pyspark.sql.functions import col, month
from pyspark.sql.types import StructType, StructField, LongType, DoubleType, DateType
from datetime import date

# Initialize SparkSession
spark = SparkSession.builder.appName("TransactionFilter").getOrCreate()

# Define schema
schema = StructType([
    StructField("amt", DoubleType(), True),
    StructField("signup_id", LongType(), True),
    StructField("transaction_id", LongType(), True),
    StructField("transaction_start_date", DateType(), True)
])

# Sample data
data = [
    (100.0, 101, 2001, date(2023, 4, 10)),   # April
    (250.0, 102, 2002, date(2023, 5, 15)),   # May
    (300.0, 103, 2003, date(2023, 6, 12)),   # June
    (150.0, 101, 2004, date(2023, 5, 22)),   # May again for 101
    (175.0, 104, 2005, date(2023, 3, 28)),   # March
    (220.0, 105, 2006, date(2023, 4, 2)),    # April
    (400.0, 106, 2007, date(2023, 1, 30))    # January
]

# Create DataFrame
tx_df = spark.createDataFrame(data, schema)
tx_df.createOrReplaceTempView("transactions")

# Show the table
tx_df.show()
")

# Show the table
tx_df.show()

+-----+---------+--------------+----------------------+
|  amt|signup_id|transaction_id|transaction_start_date|
+-----+---------+--------------+----------------------+
|100.0|      101|          2001|            2023-04-10|
|250.0|      102|          2002|            2023-05-15|
|300.0|      103|          2003|            2023-06-12|
|150.0|      101|          2004|            2023-05-22|
|175.0|      104|          2005|            2023-03-28|
|220.0|      105|          2006|            2023-04-02|
|400.0|      106|          2007|            2023-01-30|
+-----+---------+--------------+----------------------+

In [2]:
tx_df.printSchema()

root
 |-- amt: double (nullable = true)
 |-- signup_id: long (nullable = true)
 |-- transaction_id: long (nullable = true)
 |-- transaction_start_date: date (nullable = true)

In [10]:
spark.sql(
    """
        select DISTINCT(signup_id) from transactions
        where MONTH(transaction_start_date) IN (4,5)
    """
).show()

+---------+
|signup_id|
+---------+
|      101|
|      102|
|      105|
+---------+

In [14]:
spark.sql(
    """
        select transaction_start_date, MONTHNAME(transaction_start_date) from transactions
    """
).show()

AnalysisException: Undefined function: MONTHNAME. This function is neither a built-in/temporary function, nor a persistent function that is qualified as spark_catalog.default.monthname.; line 2 pos 39