In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

# Initialize SparkSession
spark = SparkSession.builder.appName("EmployeeSalary").getOrCreate()

# Define schema
schema = StructType([
    StructField("emp_id", IntegerType(), False),
    StructField("name", StringType(), False),
    StructField("salary", StringType(), True),  # Keeping as String for now to match your table
    StructField("dept_id", IntegerType(), True)
])

# Data
data = [
    (101, 'sohan', '3000', 11),
    (102, 'rohan', '4000', 12),
    (103, 'mohan', '5000', 13),
    (104, 'cat', '3000', 11),
    (105, 'suresh', '4000', 12),
    (109, 'mahesh', '7000', 12),
    (108, 'kamal', '8000', 11)
]

# Create DataFrame
df = spark.createDataFrame(data, schema)
df.createOrReplaceTempView("Employee")

# Show Data
df.show()

+------+------+------+-------+
|emp_id|  name|salary|dept_id|
+------+------+------+-------+
|   101| sohan|  3000|     11|
|   102| rohan|  4000|     12|
|   103| mohan|  5000|     13|
|   104|   cat|  3000|     11|
|   105|suresh|  4000|     12|
|   109|mahesh|  7000|     12|
|   108| kamal|  8000|     11|
+------+------+------+-------+

In [ ]:
## Write a query to find the employee names that have equal salaries in the same department

In [11]:
spark.sql("""
    with cte as (
    select *,
    dense_rank() over(partition by dept_id order by salary desc) as rnk
    from Employee)
    
    select *
    from cte a, cte b where a.emp_id<>b.emp_id and a.dept_id=b.dept_id and a.rnk=b.rnk;


""").show()

+------+------+------+-------+---+------+------+------+-------+---+
|emp_id|  name|salary|dept_id|rnk|emp_id|  name|salary|dept_id|rnk|
+------+------+------+-------+---+------+------+------+-------+---+
|   101| sohan|  3000|     11|  2|   104|   cat|  3000|     11|  2|
|   104|   cat|  3000|     11|  2|   101| sohan|  3000|     11|  2|
|   102| rohan|  4000|     12|  2|   105|suresh|  4000|     12|  2|
|   105|suresh|  4000|     12|  2|   102| rohan|  4000|     12|  2|
+------+------+------+-------+---+------+------+------+-------+---+