In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType
from datetime import datetime
from pyspark.sql.functions import *
from pyspark.sql.window import Window
# Initialize Spark Session
spark = SparkSession.builder.appName("PlayersLocation").getOrCreate()

# Define Schema for players_location Table
players_schema = StructType([
    StructField("name", StringType(), False),
    StructField("city", StringType(), False)
])

# Define Data for players_location Table
players_data = [
    ('Sachin', 'Mumbai'), ('Virat', 'Delhi'),
    ('Rahul', 'Bangalore'), ('Rohit', 'Mumbai'),
    ('Mayank', 'Bangalore')
]

# Create players_location DataFrame
players_df = spark.createDataFrame(players_data, schema=players_schema)
players_df.createOrReplaceTempView("players")

# Show DataFrame
players_df.show()

+------+---------+
|  name|     city|
+------+---------+
|Sachin|   Mumbai|
| Virat|    Delhi|
| Rahul|Bangalore|
| Rohit|   Mumbai|
|Mayank|Bangalore|
+------+---------+

In [3]:
window_spec = Window.partitionBy("city").orderBy("name")
players_df = players_df.withColumn("row_num", row_number().over(window_spec))

# Pivot the table
pivot_df = players_df.groupBy("row_num").pivot("city").agg(first("name")).orderBy("row_num")

In [4]:
pivot_df.show()

+-------+---------+-----+------+
|row_num|Bangalore|Delhi|Mumbai|
+-------+---------+-----+------+
|      1|   Mayank|Virat| Rohit|
|      2|    Rahul| null|Sachin|
+-------+---------+-----+------+

In [9]:
spark.sql(
'''

    with cte as (
    select *,
    row_number() over(partition by city order by name asc) as player_groups
    from players)
    
    select player_groups ,
    max(case when city = 'Bangalore' then name end) as Bangalore,
    max(case when city = 'Mumbai' then name end) as Mumbai,
    max(case when city = 'Delhi' then name end) as Delhi
    from cte
    group by player_groups
''').show()

+-------------+---------+------+-----+
|player_groups|Bangalore|Mumbai|Delhi|
+-------------+---------+------+-----+
|            1|   Mayank| Rohit|Virat|
|            2|    Rahul|Sachin| null|
+-------------+---------+------+-----+