In [46]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

data = ["Project", "Gutenberg’s",
        "Alice’s", "Adventures", "in",  "Wonderland",
        "Project", "Gutenberg’s",
        "Adventures", "in" ,"Wonderland",
        "Project", "Gutenberg’s"]
rdd=spark.sparkContext.parallelize(data)

In [4]:
rdd

ParallelCollectionRDD[2] at readRDDFromFile at PythonRDD.scala:274

In [8]:
rdd_map = rdd.map(lambda x: (x, 1))
              
for item in rdd_map.collect():
    print(item)

('Project', 1)
('Gutenberg’s', 1)
('Alice’s', 1)
('Adventures', 1)
('in', 1)
('Wonderland', 1)
('Project', 1)
('Gutenberg’s', 1)
('Adventures', 1)
('in', 1)
('Wonderland', 1)
('Project', 1)
('Gutenberg’s', 1)

In [16]:
schema = ["id", "student", "marks"]
# Create DataFrame
data = [
    (1, "Abbot", 4),
    (2, "Doris", 7),
    (3, "Emerson", 8),
    (4, "Green", 9),
    (5, "Jeames", 10)
]

df = spark.createDataFrame(data, schema=schema)

In [17]:
rdd_map = df.rdd.map(lambda x: (x[0], x[1], x[2]*2))
df_res = rdd_map.toDF(['id', 'name', 'marks'])

In [20]:
def myFunc(x):
    firstName = x.student
    id = x.id
    return (firstName, id)
rdd_map = df.rdd.map(lambda x: myFunc(x))

In [22]:
df_res = rdd_map.toDF(['name', 'id'])

In [33]:
range_rdd = spark.sparkContext.range(1,5)

In [35]:
range_rdd.flatMap(lambda x : (x, x+1)).collect()

[1, 2, 2, 3, 3, 4, 4, 5]

In [36]:
rdd_text = spark.sparkContext.parallelize(["if you want to split a text file"])

In [39]:
rdd_text.flatMap(lambda x: x.split(" ")).collect()

['if', 'you', 'want', 'to', 'split', 'a', 'text', 'file']

In [42]:
rdd_no = spark.sparkContext.parallelize([1,2,3,4,5,6])

In [45]:
rdd_no.reduce(lambda x, y: max(x,y))

6

In [48]:
rdd_map = rdd.map(lambda x: (x,1))

In [49]:
rdd_redbykey = rdd_map.reduceByKey(lambda x, y: x+y)
rdd_redbykey.collect()

[('Gutenberg’s', 3),
 ('Adventures', 2),
 ('Wonderland', 2),
 ('Alice’s', 1),
 ('in', 2),
 ('Project', 3)]